.root {
    -fx-pref-width: 1280px;
    -fx-pref-height: 720px;
}

.image-view,
.canvas {
    -fx-pref-width: 576;
    -fx-pref-height: 288;
}

.canvas,
.shadow-rectangle,
.focus-rectangle {
    -fx-opacity: 0.5;
}

/*************************************************************
    ファイルリストパネル
*************************************************************/
.file-list-titled-pane {
    -fx-pref-width: 500px;
    -fx-pref-height: infinity;
}

.file-list-list-view {
    -fx-pref-width: 250px;
}

.file-list-tool-bar {
    -fx-pref-width: 200px;
    -fx-max-width: 300px;
}

.file-list-button {
    -fx-pref-width: 200px;
}

.list-cell:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

/*************************************************************
    トリミング位置パネル
*************************************************************/
.trim-pos-point-label {
    -fx-pref-width: 75px;
}

.over-layer-rectangle {
    -fx-opacity: 0.0;
}

/*************************************************************
    出力画像パネル
*************************************************************/
.focus-rectangle {
    -fx-background-color: #0093ff;
}
