<?xml version="1.0" encoding="UTF-8"?>
<config>
    <version id="2000" name="2000">
        <image>
            <columnCount>4</columnCount>
            <rowCount>4</rowCount>
            <oneTile>
                <width>48</width>
                <height>48</height>
            </oneTile>
        </image>
    </version>
    <version id="vxace" name="VXACE">
        <image>
            <columnCount>4</columnCount>
            <rowCount>2</rowCount>
            <oneTile>
                <width>96</width>
                <height>96</height>
            </oneTile>
        </image>
    </version>
    <version id="mv" name="MV">
        <image>
            <columnCount>4</columnCount>
            <rowCount>2</rowCount>
            <oneTile>
                <width>144</width>
                <height>144</height>
            </oneTile>
        </image>
    </version>
</config>
